<h1>Новая группа</h1>

<% if @merge_group.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@merge_group.errors.count, "error") %> prohibited this group from being saved:</h2>

    <ul>
    <% @merge_group.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [:admin, @merge_group] do |f| %>
  <div class="form-group">
    <%= f.label :field %>
    <%= f.select :field, MergeGroup.field.values, {}, class: 'form-control' %>
  </div>

  <% MergeGroup::MERGE_ATTRIBUTES.each do |field| %>
    <strong><%= field %></strong>

    <% User.send(field).values.each do |value| %>
      <div class="checkbox">
        <label>
          <%= f.check_box :options, { multiple: true }, value, nil %>
          <%= value %>
        </label>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
