<%= form_for([:admin, @question]) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this admin_question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :epigraph %>
    <%= f.text_field :epigraph, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :publushed_at, 'Дата отправки' %>
    <div class="input-group date" id="datetimepicker4">
      <%= f.text_field :published_at, class: 'form-control', id: '' %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :region %>
    <%= f.select :region, Question.region.values, {}, class: 'form-control' %>
  </div>

  <%= f.label :tags %>

  <div class="form-group">
    <%= f.add_nested_fields_link :taggings, 'Добавить', class: 'btn btn-default' %>
  </div>

  <div class="form-group">
    <%= f.nested_fields_for :taggings do |ff| %>
      <div class="form-group select">
        <%= ff.collection_select(:tag_id, Tag.all, :id, :name, {}, class: 'form-control') %>
        <%= ff.remove_nested_fields_link 'Удалить', class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>

  <h2>Анкета</h2>

  <strong>Пол</strong>

  <% Question.gender.values.each do |value| %>
    <div class="checkbox">
      <label>
        <%= f.check_box :gender, { multiple: true }, value, nil %>
        <%= value %>
      </label>
    </div>
  <% end %>

  <strong>Работа</strong>

  <% Question.occupation.values.each do |value| %>
    <div class="checkbox">
      <label>
        <%= f.check_box :occupation, { multiple: true }, value, nil %>
        <%= value %>
      </label>
    </div>
  <% end %>

  <strong>Доход</strong>

  <% Question.income.values.each do |value| %>
    <div class="checkbox">
      <label>
        <%= f.check_box :income, { multiple: true }, value, nil %>
        <%= value %>
      </label>
    </div>
  <% end %>

  <strong>Образование</strong>

  <% Question.education.values.each do |value| %>
    <div class="checkbox">
      <label>
        <%= f.check_box :education, { multiple: true }, value, nil %>
        <%= value %>
      </label>
    </div>
  <% end %>

  <strong>Семейное положение</strong>

  <% Question.relationship.values.each do |value| %>
    <div class="checkbox">
      <label>
        <%= f.check_box :relationship, { multiple: true }, value, nil %>
        <%= value %>
      </label>
    </div>
  <% end %>

  <strong>Населенный пункт</strong>

  <% Question.settlement.values.each do |value| %>
    <div class="checkbox">
      <label>
        <%= f.check_box :settlement, { multiple: true }, value, nil %>
        <%= value %>
      </label>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit class: 'btn btn-default' %>
    <%= f.submit 'Отправить немедленно', class: 'btn btn-primary', data: { confirm: 'Вы уверены?' } %>
  </div>
<% end %>
