<h1>Вопросы</h1>

<div class="form-group">
  <%= link_to 'Новый вопрос', new_admin_question_path, class: 'btn btn-default' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Вопрос</th>
      <th>Эпиграф</th>
      <th>Теги</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.content, [:admin, question] %></td>
        <td><%= question.epigraph %></td>
        <td>
          <% question.tag_list.each do |tag| %>
            <%= link_to tag, admin_questions_path(tag: tag) %>
          <% end %>
        </td>
        <td><%= button_to 'В очередь', admin_pool_questions_path(question_id: question), class: 'btn btn-default' %></td>
        <td><%= button_to 'Отправить немедленно', urgent_admin_question_path(question), class: 'btn btn-default' %></td>
        <td>
          <%= link_to 'Задать расписание', new_admin_schedule_path(question_id: question), class: 'btn btn-default' %>
        </td>
        <td>
          <%= link_to 'Изменить', edit_admin_question_path(question), class: 'btn btn-default' %>
        </td>
        <td>
          <%= link_to 'Удалить', [:admin, question], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @questions %>
