<h1>Вопросы</h1>

<div class="form-group">
  <%= link_to 'Новый вопрос', new_admin_question_path, class: 'btn btn-default' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Вопрос</th>
      <th>Эпиграф</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.content, [:admin, question] %></td>
        <td><%= question.epigraph %></td>
        <td>
          <%= link_to 'Изменить', edit_admin_question_path(question), class: 'btn btn-default' %>
        </td>
        <td>
          <%= link_to 'Удалить', [:admin, question], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @questions %>
