<h1>Пул заданных вопросов</h1>

<table class="table">
  <thead>
    <th>id</th>
    <th>Вопрос</th>
    <th>Теги</th>
    <th>Дата публикации</th>
    <th colspan="2"></th>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.id %></td>
        <td><%= link_to question.content, [:admin, question] %></td>
        <td>
          <% question.tags.each do |tag| %>
            <%= link_to tag, unpublished_admin_questions_path(tag: tag.name) %>
          <% end %>
        </td>
        <td><%= question.published_at %></td>
        <td>
          <%= link_to 'Изменить', edit_admin_question_path(question), class: 'btn btn-default' %>
          <%= link_to 'Удалить', [:admin, question], method: :delete, class: 'btn btn-danger', data: { confirm: 'Вы уверены?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @questions %>
