<h1>Вопрос №<%= @question.id %></h1>

<div class="form-group">
  <%= link_to 'Изменить', edit_admin_question_path(@question), class: 'btn btn-default' %>
</div>

<div class="form-group">
  <strong>Содержание: </strong> <%= @question.content %>
</div>

<div class="form-group">
  <strong>Эпиграф: </strong> <%= @question.epigraph %>
</div>

<div class="form-group">
  <strong>Регион: </strong> <%= @question.region %>
</div>

<div class="form-group">
  <strong>Теги: </strong> <%= @question.tags.map(&:name).join(', ') %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Да</th>
      <th>Нет</th>
      <th>Пропуск</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @question.answers.positive.count %></td>
      <td><%= @question.answers.negative.count %></td>
      <td><%= @question.answers.neutral.count %></td>
    </tr>
  </tbody>
</table>
