<h1>Пул незаданных вопросов</h1>

<div class="form-group">
  <%= link_to 'Новый вопрос', new_admin_question_path, class: 'btn btn-default' %>
</div>

<table class="table">
  <thead>
    <th>id</th>
    <th>Вопрос</th>
    <th>Теги</th>
    <th>Позиция</th>
    <th colspan="2"></th>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.id %></td>
        <td><%= question.content %></td>
        <td><%= 'Tags' %></td>
        <td><%= question.position %></td>
        <td>
          <%= link_to '↑', up_admin_question_path(question), method: :patch, class: 'btn btn-default' %>
          <%= link_to '↓', down_admin_question_path(question), method: :patch, class: 'btn btn-default' %>
          <%= link_to 'Отправить', publish_admin_question_path(question), method: :patch, class: 'btn btn-default' %>
        </td>
        <td>
          <%= link_to 'Изменить', edit_admin_question_path(question), class: 'btn btn-default' %>
          <%= link_to 'Удалить', [:admin, question], method: :delete, class: 'btn btn-danger', data: { confirm: 'Вы уверены?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
